<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <import resource="spring-cache.xml"/>
    <!-- 自定义Realm -->
    <bean id="myRealm" class="com.lyc.realm.MyRealm">
        <!-- 依赖凭证匹配器 -->
        <!--<property name="credentialsMatcher" ref="credentialsMatcher"/>-->
        <!--启用缓存，默认关闭-->
        <property name="cachingEnabled" value="true"/>
        <!--启用身份验证缓存，即缓存AuthenticationInfo，默认false-->
        <property name="authenticationCachingEnabled" value="true"/>
        <!--启用授权缓存，即缓存AuthorizationInfo的信息，默认为false-->
        <property name="authorizationCachingEnabled" value="true"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="cacheManager" ref="customCacheManager"/>
    </bean>

    <!-- Shiro过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/index.jsp"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <property name="unauthorizedUrl" value="/unauthor.jsp"/>
        <!-- Shiro连接约束配置,即过滤链的定义 -->
        <!--
            URL路径自上而下进行匹配
            anon过滤器处理原则 ：随便访问
            authc需要进行权限认证
         -->
        <property name="filterChainDefinitions">
            <value>
                /login=anon
                /admin*=authc
                /student=roles[teacher]
                /teacher=perms["user:create"]
            </value>
        </property>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro注解
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    -->
    <!--第三方缓存实现-->
    <!-- shiro 缓存实现，对ShiroCacheManager，采用redis的实现 -->
    <!--6. 会话管理器-->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!--删除在session过期时跳转页面时自动在URL中添加JSESSIONID-->
        <!--<property name="sessionIdUrlRewritingEnabled" value="false" />-->
        <!-- 设置超时时间 -->
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionIdCookieEnabled" value="true"/>
    </bean>

    <!-- 缓存管理器-->
    <!--这里配置我们自定义的缓存管理器-->
    <bean id="customCacheManager" class="com.lyc.cache.shiro.CustomCacheManager"/>

</beans>